body{
    background-color: #000;
}

#anima-div{
    width: 200px;
    height: 200px;
    background: rgba(88, 11, 189, 0.507);
    position: relative;
    animation: mov-div 4s infinite;
}
/*
@keyframes mov-div{
    from{top: 0px;}
    to{top: 300px;}
}*/

/*
                    *Cima e Baixo*
@keyframes mov-div{
    0% {top: 0px}
    25% {top: 250px}
    50% {top: 50px}
    75% {top: 400px}
    100% {top: 0px}
}
*/
/*
                    *Quadrado*
@keyframes mov-div{
    0% {top: 0px; left: 0px; background-color: rgba(88, 11, 189, 0.507);}
    25% {top: 0px; left: 300px; background-color: rgb(26, 13, 204);}
    50% {top: 300px; left: 300px; background-color: rgb(14, 218, 31);}
    75% {top: 300px; left: 0px; background-color: rgb(146, 204, 11)}
    100% {top: 0px; left: 0px; background-color: rgb(204, 13, 13)}
}
*/
/*
                    *Retângulo "Abrindo"*
@keyframes mov-div{
    0%{width: 0px; background-color: blueviolet;}
    50%{width: 1000px; background-color: blueviolet;}
    100%{width: 0px; background-color: blueviolet;}
}
*/